* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden !important;
}

body {
	background: linear-gradient(5deg, #000000, #0A416E, #449EE7, #66B3F2);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#particles-js {
    /* position: absolute;
    top: 1000px;
    height: 100%;
    z-index: 1; */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
}

h1 {
    font-family: 'Bangers', cursive;
    color: #fff;
}

p {
    font-family: 'Barlow', sans-serif;
    color: #fff;
}

.section {
    margin-right: 5rem;
    margin-left: 5rem;
}

.buttons{
    width: 100vw;
}
.myButton {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    border: none;
    color: #000 !important;
    z-index: 200;
}
.myButton:hover {
    background-color: #66B3F2;
    border: none;
    transition: 0.3s ease;
    color: #fff !important;
}

.myButton.dark {
    color: #fff !important;
    background-color: #3D6D95;
    padding: 1.5rem 2rem;
    border-radius: 0px;
    z-index: 200;
}
.myButton.dark:hover {
    background-color: #fff;
    color: #000 !important;
    transition: 0.3s ease;
}

/* header */
.header {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
}
.main-container {
    min-height: 50vw;
}
.logo {
    margin-top: -2rem;
    max-width: 425px;
}
.displayImg {
    margin-bottom: 3rem;
    max-width: 625px;
}

/* about */
.about .left p {
    max-width: 750px;
    margin: 1rem 0rem;
}
.about .right img {
    max-width: 700px;
}

/* utility */
.utility .heading {
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.utility .is-flex .left .utilityImg {
    max-width: 500px;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.utility .is-flex .left .utilityImg2 {
    max-width: 500px;
    margin-left: 5rem;
}
.utility .is-flex .right p {
    margin: 1rem 0rem;
    max-width: 500px;
}

/* timeline */
.section.timeline {
    height: 100%;
    position: relative;
}
.line-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    opacity: 0;
    transition: opacity .2s ease-in;
}
.line {    
    width: 0.7rem;        
    background-color: #000;    
    z-index: 20;
    height: var(--test);
    max-height: 100%;
}
.line-wrapper.visible {
    opacity: 1;
}
.full-width {
	margin-left: -0vw;
	margin-right: -1.3vw;
	position: absolute;
	width: 50px;
    max-width: 100vw;
}

/* timeline content */
.myCard {
    background-color: rgba(0,0,0, 0.1);
    padding: 2rem;
    border-radius: 10px;
}
.left .myCard {
    max-width: 600px;
}
.right .myCard {
    max-width: 600px;
}
.left .myCard.one {
    margin-bottom: 10rem !important;
}
.right .myCard.one {
    margin-top: 20rem !important;
    margin-bottom: 10rem !important;
}
.left .myCard.two {
    margin-bottom: 10rem !important;
}
.right .myCard.two {
    margin-bottom: 10rem !important;
}
.left .myCard.three {
    margin-bottom: 10rem !important;
}
.right .myCard.three {
    margin-bottom: 10rem !important;
}
.left .myCard.four {
    margin-bottom: 10rem !important;
}
.right .myCard.four {
    margin-bottom: 10rem !important;
}
.left .myCard.five {
    margin-bottom: 10rem !important;
}
.right .myCard.five {
    margin-bottom: 10rem !important;
}
.right .myCard.six {
    margin-bottom: 10rem !important;
}
.left .myCard.six {
    margin-bottom: 10rem !important;
}
.right .myCard.seven {
    margin-bottom: 10rem !important;
}
.left .myCard.seven {
    margin-bottom: 10rem !important;
}
.right .myCard.eight {
    margin-bottom: 10rem !important;
}
.left .myCard.eight {
    margin-bottom: 10rem !important;
}

/* Our Team */
.team img {
    max-width: 400px
}
.column p {
    max-width: 400px;
}

/* FAQ */
.dropdown {
    margin-bottom: 2rem;
}
.dropdown-content{
    padding: 2rem;
    width: 70vw;
    background: #3D6D95;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin-bottom: 10rem;
}
.dropdown-trigger {
    z-index: 200;
    width: 70vw;
}
.dropdown-trigger button {
    width: 100%;
    padding: 2rem;
    background: #66B3F2;
    border: none;
    border-radius: 0px;
    color: #fff;
}
.dropdown-trigger button:focus {
    color: #fff;
}
.dropdown-trigger button:hover {
    color: #fff;
}
.bigMargin {
    margin-bottom: 7rem;
}
.biggerMarginMobile {
    margin-bottom: 10rem !important;
}

/* footer */
.myFooter {
    background-color: #3D6D95;
    padding: 2rem 1rem;
}
.myFooter a {
    color: #fff !important;
    font-family: 'Bangers', cursive;
    z-index: 300;
}
.myFooter .icons a {
    max-width: 40px;
}

/* media queries */
@media only screen and (max-width: 1600px) {
    .left .myCard {
        max-width: 400px;
    }
    .right .myCard {
        max-width: 400px;
    }
}

@media only screen and (max-width: 1400px) {
    .utility .is-flex .left .utilityImg2, .utility .is-flex .left .utilityImg {
        max-width: 400px;
    }
    .utility .is-flex .right p {
        max-width: 400px;
    }
    .left .myCard {
        max-width: 350px;
    }
    .right .myCard {
        max-width: 350px;
    }
}

@media only screen and (max-width: 1100px) {
    .left .myCard {
        max-width: 250px;
    }
    .right .myCard {
        max-width: 250px;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        background-size: cover;
    }
    .utility .is-flex {
        justify-content: center !important;
    }
    .utility .is-flex .left .utilityImg2, .utility .is-flex .left .utilityImg {
        max-width: 100% !important; 
        margin: 0 !important;
    }
    .utility .is-flex .right p {
        max-width: 100% !important;
        text-align: center;
    }
    .utility .is-flex .right {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .about .right img {
        max-width: 500px;
    }
}

@media only screen and (max-width: 900px) {
    .about .right img {
        max-width: 400px;
        margin: 0 auto;
    }
    .about .is-flex {
        justify-content: center !important;
    }
    .line {
        display: none !important;
    }
    .timeline .maincontent {
        flex-wrap: wrap;
    }
    .left .myCard {
        max-width: 100%;
    }
    .right .myCard {
        max-width: 100%;
    }
    .left .myCard.one {
        margin-bottom: 0rem !important;
    }
    .right .myCard.one {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
    .left .myCard.two {
        margin-bottom: 0rem !important;
    }
    .right .myCard.two {
        margin-bottom: 0rem !important;
    }
    .left .myCard.three {
        margin-bottom: 0rem !important;
    }
    .right .myCard.three {
        margin-bottom: 0rem !important;
    }
    .left .myCard.four {
        margin-bottom: 0rem !important;
    }
    .right .myCard.four {
        margin-bottom: 0rem !important;
    }
    .left .myCard.five {
        margin-bottom: 0rem !important;
    }
    .right .myCard.five {
        margin-bottom: 0rem !important;
    }
    .right .myCard.six {
        margin-bottom: 0rem !important;
    }
    .left .myCard.six {
        margin-bottom: 0rem !important;
    }
    .right .myCard.seven {
        margin-bottom: 0rem !important;
    }
    .left .myCard.seven {
        margin-bottom: 0rem !important;
    }
    .right .myCard.eight {
        margin-bottom: 0rem !important;
    }
    .left .myCard.eight {
        margin-bottom: 0rem !important;
    }
    .right .myCard.one,
    .right .myCard.two,
    .right .myCard.three,
    .right .myCard.four,
    .right .myCard.five,
    .right .myCard.six,
    .right .myCard.seven,
    .right .myCard.eight,
    .left .myCard.one,
    .left .myCard.two,
    .left .myCard.three,
    .left .myCard.four,
    .left .myCard.five,
    .left .myCard.six,
    .left .myCard.seven,
    .left .myCard.eight  {
        margin-bottom: 2rem !important;
    }
    .section.headerT {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .dropdown h1 {
        font-size: 1.3rem !important;
    }
    .columns .column img {
        max-width: 100%;
    }
    .biggerMarginMobile {
    margin-bottom: 10rem !important;
    }

}

@media only screen and (max-width: 605px) {
    .logo {
        /* max-width: 350px; */
        max-width: 80%;
        margin-top: unset;
    }
    .displayImg {
        max-width: 100%;
    }
    .dropdown h1 {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 500px) {
    .main-container {
        min-height: 40vw;
    }
    .about .right img {
        max-width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .dropdown h1 {
        font-size: 0.8rem !important;
    }
}


/* changes */
.floating {
    position: absolute;
    top: 2500px;
    left: -80px;
    max-width: 300px;
}

.floating2 {
    position: absolute;
    top: 2500px;
    right: -80px;
    max-width: 300px;
}
